<div class="container">
  <h1>Welcome to Sinatra Sessions!</h1>

  <div>
    <form action="/inc" method="POST">
      <input type="submit" value="Increment Counter">
    </form>

    <a href="/clear">Clear Session</a>
  </div>

  <div>
    <code>
      <%= session.inspect %>
    </code>
  </div>
</div>
